@font-face {
  font-family: "nbintl";
  src:
    url("https://ryo.lu/fonts/NBInternationalPro.woff2") format("woff2"),
    url("https://ryo.lu/fonts/NBInternationalPro.woff") format("woff"),
    url("https://ryo.lu/fonts/NBInternationalPro.otf") format("opentype");
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "nbintl-mono";
  src:
    url("https://ryo.lu/fonts/NBInternationalPro-Mono.woff2") format("woff2"),
    url("https://ryo.lu/fonts/NBInternationalPro-Mono.woff") format("woff"),
    url("https://ryo.lu/fonts/NBInternationalPro-Mono.otf") format("opentype");
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}
